html {
    background-color: #cbf3bb;
}
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
h1 {
    text-align: center;
    color: black;
}
p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ortala {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
    text-align: center;
    position:relative;
    margin-top:auto;
    width: 100%;
    clear: both;
    display: flex;
    flex-direction: column;
    left: 0;
    bottom: 0;
}