html {
    background-color: #cbf3bb;
}
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
h1 {
    text-align: center;
    color: black;
}
p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ortala {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
    text-align: center;
    position:absolute;
    margin-top:auto;
    width: 100%;
    clear: both;
    display: flex;
    flex-direction: column;
}
.sayfasonu {
    background-color: #5c8a92;
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 150px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: #111827;
}
strong {
    color: #111827;
}
.kingo2 {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #111827;
}
.divgonulluol {
    position: relative;
    display: flex;
    width: 90px;
    height: 40px;
    border-radius: 5%;
    background-color: #93BFC7;
    color: #111827;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.divbagisyap {
    position: relative;
    width: 90px;
    height: 40px;
    border-radius: 5%;
    background-color: #93BFC7;
    color: #111827;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.divnavbar {
    background-color: #ECF4E8;
    color: black;
}
.navbar {
    background-color: #ECF4E8;
}
.nav-link {
            color: rgb(22, 22, 22);
        }
        .navbar {
            background-color: #ecf4e8;
        }
@media (min-width: 600px) and (max-width: 1440px) {

}